# Python Output

In [1]:
# Python is a case sensitive language

print('Hello world')

Hello world

In [2]:
print('Gourab singh')

Gourab singh

In [3]:
print(Gourab Kumar)

SyntaxError: invalid syntax (3346190109.py, line 1)

In [5]:
print(9)

9

In [6]:
print(9.9)

9.9

In [7]:
print(True)

True

In [8]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [9]:
print('Hello',1,4.5,True,sep = '/')

Hello/1/4.5/True

In [10]:
print("Hello",end='_')
print("World")

Hello_World

# Data Types

In [11]:
# Integer

print(8)

# 1*10^308
print(1e308) # not handle 1e309

8
1e+308

In [12]:
# Decimal/Float

print(9.99)
print(1.7e308)

9.99
1.7e+308

In [13]:
# Boolean

print(True)
print(False)

True
False

In [14]:
# Text/String

print('Hello World')

Hello World

In [15]:
# complex

print(5+6j)

(5+6j)

In [16]:
# List-> C-> Array

print([1,2,3,4,5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# Tuple

print((1,2,3,4,5,6,7,8,9))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
# Sets

print({1,2,3,4,5,6,7,8,9})

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
# Dictionary

print({1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9})

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [20]:
# type

type(6+7)

int

In [21]:
type("hello")

str

# Variables

In [22]:
name = 'Gourab singh'
print(name)

Gourab singh

In [23]:
a = 5
b = 6
print(a+b)

11

In [24]:
#Dynamic typing 
a = 5
#Static Typing
#int a = 5

In [25]:
#Dynamic Binding
a = 9
print(a)
a = "Gourab Kumar"
print(a)

9
Gourab Kumar

In [26]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [27]:
a= b= c= 9
print("a :->", a ,"b :->", b,"c :->", c)

a :-> 9 b :-> 9 c :-> 9

# Identifiers

In [28]:
# You can't start with a digit
# You can use only spl. character (_) 
name_1 = "Gourab Kumar"
print(name_1)
# identiers can not be keyword

Gourab Kumar

# User Input

In [29]:
# Static Vs Dynamic

input()

Gourab

'Gourab'

In [30]:
input("Enter your name ")

Enter your name gourab

'gourab'

In [31]:
input("Enter email ")

Enter email gourabsingh09@gmail.com

'gourabsingh09@gmail.com'

In [1]:
# Take input from users and store them in a variable
fnum = int(input("enter your first number "))
sname = int(input("Enter your last number "))

# Add  the two Variable
result = fnum + sname
print(result)

# Print the result
print(type(fnum),type(sname))
print(type(fnum))

enter your first number 12
Enter your last number 13
25
<class 'int'> <class 'int'>
<class 'int'>

In [34]:
a = (1,)
print(type(a))

<class 'tuple'>

# Type Conversion

In [35]:
# Implicit Vs Explicit

print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [36]:
print(int(4+'4'))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
# Explicit
# str -> int

int(4+5j)

TypeError: can't convert complex to int

In [38]:
# int to str

print(str(5))

5

# Literals

In [39]:
a = 0b10101 # 0b10101
a           # Binary conversion

21

In [2]:
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

In [40]:
#Float Literal

b = 15.2e3
b

15200.0

In [41]:
#Complex Literal 

x = 5.15j
print(x.real, x.imag)

0.0 5.15

In [42]:
strings = "I am 'Gourab kumar singh' "
print(strings)

I am 'Gourab kumar singh'

In [43]:
unicode = u"\U0001f600\U0001F606\U0001F923"
print(unicode)

😀😆🤣

In [44]:
a = True+8
b = False + 9
print(a,b,sep='\n')

9
9

In [45]:
k = None
b = 5 
c = 6
print("Nothing")

Nothing

# TASK 1

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
# Write your code here
celcius = float(input('enter the temp in celcius '))

faren = celcius * (9/5) + 32

print(faren,'F')

enter the temp in celcius 43
109.4 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here

a = 3
b = 5

temp = a
a = b
b = temp

print(a)
print(b)

5
3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [5]:
# Write your code here
p1x = int(input('enter x cood of 1st point '))
p1y = int(input('enter y cood of 1st point '))
p2x = int(input('enter x cood of 2nd point '))
p2y = int(input('enter y cood of 2nd point '))

distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print(round(distance,2))

enter x cood of 1st point0
enter y cood of 1st point4
enter x cood of 2nd point2
enter y cood of 2nd point4
2.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

- Hint - si = (p * t * r)/100

In [9]:
# Write your code here
p = int(input('Enter amount '))
t = int(input('Enter time period '))
r = float(input('Enter rate '))

interest = (p*t*r)/100

print('the interest is ',interest)

Enter amount 10000
Enter time period 2
Enter rate 5
the interest is 1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

Hint - Thus, the sum of the squares of first n natural numbers =  n(n+1)(2n+1)/6

In [10]:
# Write your code here
n = int(input('enter the number '))

result = (n*(n+1)*(2*n + 1))/6
print(result)

enter the number5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

- Hint - an = a + (n – 1)d

In [11]:
# Write your code here
first_term = int(input('enter 1st term '))
second_term = int(input('enter 2nd term '))
n = int(input('enter the value of n '))

d = second_term - first_term

an = first_term + (n-1)*d

print(an)

enter 1st term3
enter 2nd term6
enter the value of n5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [13]:
# Write your code here
n1 = int(input('num1 '))
d1 = int(input('den1 '))
n2 = int(input('num2 '))
d2 = int(input('den2 '))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

num1 3
den1 7
num2 2
den2 11
47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [14]:
# Write your code here
import math

h_t = float(input('height '))
b_t = float(input('breadth '))
l_t = float(input('length '))

h_g = float(input('height of glass '))
r_g = float(input('radius of the glass '))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height10
breadth19
length10
height of glass5
radius of the glass2
no of glasses 30

In [ ]:
math.floor(6.7)

# Operators

In [46]:
# Arithmetic

print(5+4)
print(5-4)
print(3*3)
print(18/2)
print(18//2)
print(9%2)
print(3**2)

9
1
9
9.0
9
1
9

In [47]:
# Relational

print(9<3)

False

In [48]:
print(9>3)

True

In [49]:
print(4==4)

True

In [50]:
print(9!=3)

True

In [51]:
# Logical Operators

print(1 and 0)

0

In [52]:
print(1 and 1)

1

In [53]:
print(0 and 1)

0

In [54]:
print(1 or 1)

1

In [55]:
print(0 or 0)

0

In [56]:
# Bitwise Operators

# bitwise and 
print(2&3)

# bitwise or

print(2|3)

2
3

In [57]:
# bitwise xor

print(~3)

-4

In [58]:
# Assignment Operators

a = 2
b = a+2
print(b)
a += 7
print(a)

4
9

In [59]:
# Membership Operators

# in/not in

print("SINGH" in "GOURAB KUMAR SINGH RAJPUT")

True

In [60]:
print(9 in [1,2,3,4,5,6,7,8,9])

True

In [61]:
number = int(input('Enter a three digit number'))
print(number)

Enter a three digit number345
345

In [62]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a three digit number'))

# 345%10 -> 5
a = number%10
number = number//10

# 34%10 -> 4
b = number%10
number = number//10

# 3 % 10 -> 3
c = number%10
number = number//10

print(a+b+c)

Enter a three digit number999
27

# If-Else in Python

In [63]:
# login program and indentation
# email = gourabsingh09@gmail.com
# pass = 99999

email = input("Enter your email -->>")
password = input("Enter your password -->>")

if email == 'gourabsingh09@gmail.com' and password == '99999':
    print("welcome")
elif email != 'gourabsingh09@gmail.com' and password == '99999':
    print ("Your email is not correct")
elif email == 'gourabsingh09@gmail.com' and password != '99999':
    print("Your password is not correct")
    password = input("Enter your password -->")
    if password == '99999':
        print("Finally you did it ")
    else:
        print("Tu rahne de bhai")
else:
    print("Your email and password both are not correct")

Enter your email -->>gourabsingh09@gmail.com
Enter your password -->>99998
Your password is not correct
Enter your password -->99999
Finally you did it

In [3]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [64]:
# min of 3 number

a = int(input("Enter your number"))
b = int(input("Enter your number"))
c = int(input("Enter your number"))
if a<b and a<c:
    print('a is smallest ',a)
elif b<a and b<c:
    print('b is smallest ',b)
elif c<a and c<b:
    print('c is smallest ',c)
else:
    print ('all are equal')

Enter your number234
Enter your number5678
Enter your number2334
a is smallest  234

In [66]:
# menu driven calculator

fnum = int(input("enter your first number "))
snum = int(input("enter your second number "))

operation = input("What operation do you want to do ")

if "+" in operation:     # if operation == +:
    print(fnum+snum)
elif "-" in operation:
    print(fnum-snum)
elif "*" in operation:
    print(fnum * snum )
elif '/' in operation:
    print(fnum/snum)
elif '//' in operation:
    print(fnum//snum)
elif '%' in operation:
    print(fnum%snum)
elif "**" in operation:
    print(fnum**snum)

enter your first number 99
enter your second number 99
What operation do you want to do **
9801

# Modules in python

### Math
### Keyword
### random
### Datetime

In [67]:
# math

import math
math.factorial(9)

362880

In [68]:
math.floor(9.78)

9

In [69]:
math.sqrt(169)

13.0

In [70]:
# keyword

import keyword
print(len(keyword.kwlist))

36

In [71]:
# random

import random
print(random.randint(1,100))

28

In [72]:
# datetime

import datetime
print(datetime.datetime.now())

2023-02-13 11:42:36.119666

In [73]:
import warnings
warnings.filterwarnings('ignore')
#help('modules')

In [74]:
#help('modules')

# Loops in python

#### Need for Loops
#### While Loop
#### for Loop

# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [76]:
number = int(input("Enter your number"))
i = 1
while i<11:
    print(number * i)
    i += 1
    
else:
    print("limit crossed")

Enter your number19
19
38
57
76
95
114
133
152
171
190
limit crossed

In [79]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)
guess = int(input("guess the number"))

count = 1
while guess != jackpot:
    if guess<jackpot:
        print('guess more')
    else:
        print('guess less')
        
    guess = int(input('Guess karo'))
    count += 1 
    
    if guess == jackpot:
        print(' Finally You Guess correct')
        print('Count -->', count)

guess the number5
guess more
Guess karo2
guess more
Guess karo1
guess more
Guess karo2
guess more
Guess karo0
guess more
Guess karo9
guess more
Guess karo40
guess less
Guess karo30
guess more
Guess karo35
guess more
Guess karo38
guess more
Guess karo39
 Finally You Guess correct
Count --> 11

In [80]:
# For loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [81]:
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

In [82]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [83]:
for i in "GOURAB SINGH RAJPUT":
    print(i)

G
O
U
R
A
B

S
I
N
G
H

R
A
J
P
U
T

Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [84]:
current_population = 10000
for i in range(10,0,-1):
    print(i, current_population)
    current_population = int(current_population / 1.1)

10 10000
9 9090
8 8263
7 7511
6 6828
5 6207
4 5642
3 5129
2 4662
1 4238

#### Explanation :



To calculate the population for each year with a 10% increase, you can use a simpler equation based on the previous year's population. Let's assume the population of the previous year is represented by variable x.

The equation can be written as:

> Current Year Population = x * 1.1

In this equation, the current year's population is equal to the previous year's population multiplied by 1.1, representing a 10% increase.

To find the population of the previous year (x), we can rearrange the equation as follows:

> x = Current Year Population / 1.1

Using this simplified equation, if you have the current year's population (e.g., 10,000), you can divide it by 1.1 to calculate the population of the previous year.

This equation allows you to calculate the population for each year, assuming you know the population of the current year and want to find the population of the previous year.

### Sequence sum

#### 1/1! + 2/2! + 3/3! + ...

In [1]:
n = int(input('Enter n '))

result = 0
fact = 1
for i in range (1,n+1):
    fact = fact * i
    result = result + i/fact
    
print(result)

Enter n 6
2.7166666666666663

# Nested loops

In [86]:
# Examples --> Unique pairs

for i in range (1,5):
    for j in range (1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [87]:
row = int(input("Enter your row "))
for i in range(1,row+1):
    for j in range (1,i+1):
        print('💖',end = ' ')
    print()

Enter your row 9
💖
💖 💖
💖 💖 💖
💖 💖 💖 💖
💖 💖 💖 💖 💖
💖 💖 💖 💖 💖 💖
💖 💖 💖 💖 💖 💖 💖
💖 💖 💖 💖 💖 💖 💖 💖
💖 💖 💖 💖 💖 💖 💖 💖 💖

In [89]:
num = int(input('Enter your number '))
for i in range (1,num+1):
    for j in range(1,i+1):
        print(j, end = ' ')
    for k in range (i-1,0,-1):
        print(k,end = ' ')
    print()

Enter your number 9
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [91]:
num = int(input("enter your number"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end = ' ')
    for k in range(i-1,0,-1):
        print(k, end = ' ')
    print()

enter your number7
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1

# Loop Control Statement

##### Break
##### Continue
##### Pass

In [92]:
for i in range(1,10):
    if i ==5:
        break
    print(i)

1
2
3
4

In [93]:
lower = int(input('enter lower range '))
upper = int(input('enter upper range '))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

enter lower range 56
enter upper range 67
59
61
67

In [94]:
for i in range(1,10):
    if i ==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [95]:
for i in range(1,10):
    pass

# TASK 2

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [18]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC:'))

if ctc < 500000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:1800000
You in hand monthly salary will be- 93000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

Hint - Sum of all angles is 180 and all angles are positive

In [20]:
# Write code here
first = int(input('enter the 1st angle '))
second = int(input('enter the 2nd angle '))
third = int(input('enter the 3rd angle '))

if (first+second+third) == 180 and first>0 and second>0 and third>0:
    print('forms a triangle ')
else:
    print('does not form a triangle ')

enter the 1st angle 30
enter the 2nd angle 100
enter the 3rd angle 50
forms a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [21]:
# Write code here
# write your code here
cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if cost_price < selling_price:
    print('Profit')
elif cost_price > selling_price:
    print('Loss')
else:
    print('No Loss No Gain')

Enter cost price-6000
Enter selling price-12000
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

Hint
- 1 cm = 0.032ft
- 1km = 0.62
- 1 USD = 80 INR

In [23]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
    cm = float(input('enter the cm value '))
    print('ft value is',0.032*cm)
elif menu == '2':
    km = float(input('enter the km value '))
    print('miles value is',km*0.62)
elif menu == '3':
    usd = float(input('enter usd '))
    print('inr ',usd*80)
else:
    exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
1
enter the cm value 180
ft value is 5.76

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [24]:
# Write code here

num1,num2 = 0,1

for i in range(10):
    print(num1)

    next = num1 + num2

    num1 = num2
    num2 = next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

- Write a program to use the loop to find the factorial of a given number.

- The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

- For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [27]:
# Write code here
num = int(input('enter the number '))

fact = 1
for i in range(1,num+1):
    fact = fact*i

print(fact)

enter the number 7
5040

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [28]:
# Write code here
number = int(input('enter the number '))

rev = 0

while number>0:
    last = number%10
    rev = rev*10 + last
    number = number//10

print(rev)

enter the number 56789
98765

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [35]:
# Write code here
N = int(input('enter the number '))
sum = 0
i = 1

while i < N+1:
    if i % 5 == 0:
        i+=1
        continue

    sum += i

    if sum > 300:
        sum = sum - i
        break

    i+=1

print(sum)

enter the number 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [37]:
# Write code here
sum = 0
count = 0

while True:
    num = int(input('enter number'))
    if num == 0:
        break
    sum = sum + num
    count = count + 1

print('sum',sum)
print('avg',sum/count)

enter number1
enter number2
enter number3
enter number4
enter number5
enter number6
enter number7
enter number8
enter number9
enter number0
sum 45
avg 5.0

### `Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [38]:
# Write code here
L = []
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### `Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [40]:
# Write code here
L = []
for i in range(1000,3001):
    flag = True

    curr = i

    while curr > 0:
        last = curr%10
        if last % 2 != 0:
            flag = False
            break
        curr = curr//10

    if flag == True:
        L.append(str(i))

print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### `Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [42]:
# Write code here
pos = [0,0]
while True:
    s = input('Enter the robot path ')
    if s == '!':
        break
    direction = s.split()[0]
    steps = int(s.split()[1])

    if direction == 'UP':
        pos[1] = pos[1] + steps
    elif direction == 'DOWN':
        pos[1] = pos[1] - steps
    elif direction == 'LEFT':
        pos[0] = pos[0] - steps
    elif direction == 'RIGHT':
        pos[0] = pos[0] + steps
    else:
        pass

print('new pos',pos)
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot path UP 2
Enter the robot path DOWN 3
Enter the robot path RIGHT 4
Enter the robot path LEFT 5
Enter the robot path !
new pos [-1, -1]
1.4142135623730951

### `Problem 12`:Write a program to print whether a given number is a prime number or not

In [45]:
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num):
    if num%i == 0:
        flag = False
        break

if flag == True:
    print('Prime')
else:
    print('Not Prime')

enter the num7
Prime

### `Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

for num in range(start, end+1):
    temp = num
    sum = 0
    order = len(str(num))
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

### `Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

# Write code here
h = int(input('Enter hours hand-'))
m = int(input('Enter minute hand-'))

# validate the input
if (h < 0 or m < 0 or h > 12 or m > 60):
    print('Wrong input')

# Idea is to minute angle - hour agnle from clockwise from 12 hour point

# 1 minute in minute angle manke 6 degree. (60 minute -> 360 degree)
m_angle = m*6

# every hour point yeilds to 30degree-- 12 hours-360degree plus if minute hand moves hour hands move too
# Every minute after hour hand take 0.5 degree movement. clockwise
h_angle = h*30 + m*0.5

# Take abs difference b/w them
angle = abs(h_angle - m_angle)


if angle>180:
    print(360-angle)
else:
    print(angle)

`Explaination:` This code calculates the angle between the hour and minute hand on a clock. It takes user input for the hour and minute hand positions, validates the input to make sure it is within the range of a clock (0-12 for hours and 0-60 for minutes), then calculates the angles of the hour and minute hand based on their position on the clock. It then finds the difference between the two angles and takes the absolute value of that difference. It then checks if the angle is greater than 180, if it is, it prints the difference of 360 and the angle, else it prints the angle. The final output is the angle between the hands on the clock.

### `Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [5]:
# Write code here
print("Enter both Rectangel points coordinates <x y>")

l1_x, l1_y = list(map(int, input('Enter L1 coordinate value,(Two value space seperated):').split()))
r1_x, r1_y = list(map(int, input('Enter r1 coordinate value,(Two value space seperated):').split()))

l2_x, l2_y = list(map(int, input('Enter L2 coordinate value,(Two value space seperated):').split()))
r2_x, r2_y = list(map(int, input('Enter r2 coordinate value,(Two value space seperated):').split()))

# if rectangle has area 0, no overlap
if l1_x == r1_x or l1_y == r1_y or r2_x == l2_x or l2_y == r2_y:
    print("Don't Overlap")

# If one rectangle is on left side of other
elif l1_x > r2_x or l2_x > r1_x:
    print("Don't Overlap")

# If one rectangle is above other
elif r1_y > l2_y or r2_y > l1_y:
    print("Don't Overlap")
else:
    print("Overlap")

SyntaxError: unterminated string literal (detected at line 4) (2634322551.py, line 4)

`Explaination:` The given code takes the coordinates of two rectangles from the user and checks if they overlap.
* It does this by first checking if either rectangle has an area of 0 (i.e. one of the sides has length 0), in which case it prints "Don't Overlap".
* It then checks if one rectangle is entirely to the left or above the other, in which case it also prints "Don't Overlap". If none of these conditions are true, it prints "Overlap".

### Strings are sequence of Characters

### In Python specifically, strings are a sequence of Unicode Characters

###### Creating Strings
###### Accessing Strings
###### Adding Chars to Strings
###### Editing Strings
###### Deleting Strings
###### Operations on Strings
###### String Functions

##### Creating Stings
##### Accessing Substrings from a String

In [96]:
# Positive Indexing

g = "hello Gourab"
print(g[6])
g[8]

# Negative Indexing
g[-2]

G

'a'

In [97]:
g[2]

'l'

In [98]:
# Slicing

print(g[13:0:-1])

baruoG olle

In [99]:
print(g[13::-1])

baruoG olleh

In [100]:
g[::-1]

'baruoG olleh'

In [101]:
g.title()

'Hello Gourab'

In [102]:
gs = 'gourab'

In [103]:
gs.title()

'Gourab'

In [104]:
# Editing and Deleting in Strings

del(gs)

In [105]:
print(gs)

NameError: name 'gs' is not defined

In [106]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings
- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [107]:
print ("Delhi" + " Mumbai")

Delhi Mumbai

In [108]:
print("Gourab " * 9)

Gourab Gourab Gourab Gourab Gourab Gourab Gourab Gourab Gourab

In [109]:
print("delhi" == 'mumbai')

False

In [1]:
'mumbai'> 'pune'
# lexiographically

False

In [111]:
'Pune' > 'pune'

False

In [112]:
'pune' > 'Pune'

True

In [113]:
'hello' and 'Gourab'

'Gourab'

In [114]:
'hello' or 'Gourab'

'hello'

In [115]:
'' and 'world'

''

In [116]:
'' or 'world'

'world'

In [117]:
not ''

True

In [118]:
not 'Hello'

False

In [119]:
for i in 'Gourab Kumar':
    print(i)

G
o
u
r
a
b

K
u
m
a
r

In [120]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [121]:
"G" in 'Gourab'

True

## Common Functions
- len
- max
- min
- sorted

In [122]:
len('Gourab')

6

In [123]:
min('Gourab')

'G'

In [124]:
max('Gourab')

'u'

In [125]:
sorted('Gourab')

['G', 'a', 'b', 'o', 'r', 'u']

In [126]:
sorted('Gourab', reverse = True)

['u', 'r', 'o', 'b', 'a', 'G']

# Capitalize/Title/Upper/Lower/Swapcase

In [127]:
gs = 'gourab singh'

In [128]:
gs.capitalize()

'Gourab singh'

In [129]:
gs.title()

'Gourab Singh'

In [130]:
gs.lower()

'gourab singh'

In [131]:
gs.swapcase()

'GOURAB SINGH'

## Count/Find/Index

In [132]:
'Gourab Kumar Singh '.count('a')

2

In [133]:
'Gourab Kumar Singh '.find('a')

4

In [134]:
'Gourab Kumar Singh '.index('z')

ValueError: substring not found

# endswith/startswith

In [135]:
'Gourab Kumar Singh '.endswith('gh ')

True

In [136]:
'Gourab Kumar Singh '.startswith('Go')

True

## format

In [137]:
name = "Gourab"
gender = "Male"
"Hi my name is {} and I am a {}".format(name,gender)

'Hi my name is Gourab and I am a Male'

In [2]:
name = "Gourab"
gender = "Male"
"Hi my name is {1} and I am a {0}".format(gender,name)

'Hi my name is Gourab and I am a Male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [138]:
"gourabsingh09".isalnum()

True

In [139]:
"gourab".isalpha()

True

In [140]:
"1234abc".isdigit()

False

In [141]:
"gourab_kumar".isidentifier()

True

## Split/Join

In [142]:
"Hi i am Gourab ".split("a")

['Hi i ', 'm Gour', 'b ']

In [143]:
"-".join(['Hi i ', 'm Gour', 'b '])

'Hi i -m Gour-b '

## Replace

In [144]:
"Hi my name is GOURAB".replace('GOURAB', 'SINGH')

'Hi my name is SINGH'

# Strip

In [145]:
"   Gourab SINGH       ".strip()

'Gourab SINGH'

## Example Programs

In [146]:
# Find the length of a given string without using the len() function

name = input("Enter your name ")

count = 0

for i in name:
    count += 1
print("The length of name is ", count)

Enter your name gourab kumar
The length of name is  12

In [147]:
# Extract username from a given email. 

email = input("Enter your email ")
pos = email.index("@")

u_name= email[0:pos]
print("Your user name is -->> ",u_name )

Enter your email gourabsingh09@gmail.com
Your user name is -->>  gourabsingh09

In [148]:
# Count the frequency of a particular character in a provided string. 

sent = input ("Enter your input -->")
find = input ("Enter your input what you want to find -->")

count = 0
for i in sent:
    if i in find:
        count += 1
print("Frequency of find is -->" , count)

Enter your input -->67
Enter your input what you want to find -->6
Frequency of find is --> 1

In [149]:
# Write a program which can remove a particular character from a string.

sent = input ("Enter your input -->")
remove = input ("Enter your input what you want to remove -->")
#sent1 = []
for i in sent:
    if remove == i:
        continue
    #sent1 = sent1.append(i)
    print(i)

Enter your input -->gourab
Enter your input what you want to remove -->g
o
u
r
a
b

In [3]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

name = input("enter your name ")
flag = True
for i in range (0, len(name)//2):
    if name[i] != name[len(name)-i-1]:
        flag = False
        print("Not a Palindrome")
        break
if flag:
    print("Palindrome")

enter your name racecar
Palindrome

In [151]:
# Write a program to count the number of words in a string without split()

name = input("Enter your name--> ")
name1 = []
temp = ' '
for i in name:
    
    if i != ' ':
        temp = temp+i
        
    else:
        name1.append(temp)
        temp = ' '
name1.append(temp)
print(name1)

Enter your name--> gourab kumar
[' gourab', ' kumar']

In [152]:
# Write a python program to convert a string to title case without using the title()

name = input("Enter your name include space after completed the sentence--> ")
name1 = []
temp = ' '
for i in name:
    
    if i != ' ':
        temp = temp+i
        
    else:
        name1.append(temp)
        temp = ' '

print(name1)

Enter your name include space after completed the sentence--> singh
[' singh']

In [153]:
name = input("Enter your name--> ")
l = []
for i in name.split():
    l.append(i[0].upper() + i[1:].lower())
    
print(l)
print(' '.join(l))

Enter your name--> ghgfh
['Ghgfh']
Ghgfh

In [154]:
# write a programme that can convert an integer to string

num = int(input("Enter your number "))
num2 = str(num)
print(num2)
print(type(num2))

Enter your number 789
789
<class 'str'>

In [155]:
# Write a program that can convert an integer to string.

number = int(input('Enter the number '))

digits = '0123456789'

result = ''
while number != 0:
    result = digits[number % 10 ] + result
    number = number //10
    
print(result)
print(type(result))

Enter the number 6786
6786
<class 'str'>

# TASK

### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [2]:
# Code here

rows = int(input('enter the rows '))

for i in range(0,rows):
    for j in range(rows-i,0,-1):
        print(j,end=' ')
    print()

enter the rows5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [3]:
# Code here
rows = int(input('enter the rows '))

for i in range(1,rows+1):
    for j in range(0,i):
        print('*',end=' ')
    print()

for i in range(1,rows):
    for j in range(rows-i,0,-1):
        print('*',end=' ')
    print()

enter the rows 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
       * *
      * * *
   * * * * * * *
* * * * * * * * *

In [4]:
# Code here
rows = 6
for i in range(1,rows+1):
    print(' '*rows,end='')
    print('* '*i)
    rows = rows - 1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [5]:
# Code here
rows = 5

for i in range(1,rows+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + … x^n/n<br>
n will be provided by the user

In [6]:
# Code here
x = 10
n = 5

sum = 1
s = ''
print('1 + ',end='')
for i in range(2,n+1):
    sum = sum + x**i/i
    s = s + 'x^{}/{} +'.format(i,i)
print(s[:-1])
print(sum)

1 + x^2/2 +x^3/3 +x^4/4 +x^5/5
22884.333333333332

### `Problem 6`: The natural logarithm can be approximated by the following series.

![temp.jpg]()

If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [7]:
# Code here
x = 10
n = 5

sum = 0
s = ''
for i in range(1,n+1):
    sum = sum + (1/i)*((x-1)/x)**i
    s = s + '(1/{})*((x-1)/x)^{} +'.format(i,i)
print(s[:-1])
print(sum)

(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4 +(1/5)*((x-1)/x)^5
1.8301230000000004

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [8]:
# Code here
n = int(input('enter the number of terms '))

start = 2
sum = 0

for i in range(0,n):
    if i < n-1:
        print(start,end='+')
    else:
        print(start)

    sum = sum + start
    start = start*10 + 2

print(sum)

enter the number of terms 5
2+22+222+2222+22222
24690

### `Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [3]:
# Code here
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for m in range(1,5):
                print(i,j,k,m)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

### `Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [10]:
# Code here

n = int(input('enter the number '))
binary = []
while n > 0:

    binary.append(n%2)
    n = n//2

for i in binary[::-1]:
    print(i,end='')

enter the number17
10001

### `Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [11]:
# Code here
x = int(input('enter 1st number '))
y = int(input('enter 2nd number '))

if x>y:
    greater = x
else:
    greater = y

while True:
    if (greater % x == 0) and (greater % y == 0):
        lcm = greater
        break

    greater = greater + 1

print(lcm)

enter 1st number23
enter 2nd number46
46

In [12]:
# Code here
x = int(input('enter 1st number '))
y = int(input('enter 2nd number '))

if x<y:
    smaller = x
else:
    smaller = y

for i in range(1,smaller+1):
    if (x % i == 0) and (y % i == 0):
        hcf = i

print(hcf)

enter 1st number30
enter 2nd number40
10

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [13]:
# Code here

inp = 'Data science Mentorship Program'

res = ''

for i in inp.split():
    res = res + i[0].upper()

print(res)

DSMP

### `Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [14]:
# Code here

s1 = input('enter the 1st string ')
s2 = input('enter the 2nd string ')

print(s1[0:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):])

enter the 1st stringwill
enter the 2nd stringdo
widoll

### ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [15]:
# Code here

s = 'PyNaTive'

upper = ''
lower = ''

for i in s:
    if i.islower():
        lower = lower + i
    else:
        upper = upper + i

print(lower + upper)

yaivePNT

### `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [16]:
# Code here
s = 'hel123O4every093'

sum = 0
count = 0

for i in s:
    if i.isdigit():
        sum = sum + int(i)
        count += 1

print(sum)
print(sum/count)
print(count)

22
3.142857142857143
7

### `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [17]:
# Code here
s = 'I am 25 years and 10 months old'

res = ''

for i in s:
    if i.isdigit():
        res = res + i

print(res)

2510

### `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [19]:
# Code here
s = input('enter the string ')

if len(s)%2 == 0:
    s1 = s[0:len(s)//2]
    s2 = s[len(s)//2:]
else:
    s1 = s[0:len(s)//2]
    s2 = s[len(s)//2 + 1:]

if s1 == s2:
    print('symmetrical')
else:
    print('not symmetrical')

enter the string madam
not symmetrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [20]:
# Code here
s = 'code practice quiz geeks'

L = []

for i in s.split():
    L.append(i)

L = L[::-1]
print(" ".join(L))

geeks quiz practice code

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango"
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [21]:
# Code here
A = "apple banana mango"
B = "banana fruits mango"

L = []

for i in A.split():
    if i not in B and i not in L:
        L.append(i)

for j in B.split():
    if j not in A and j not in L:
        L.append(j)

print(L)

['apple', 'fruits']

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [22]:
# Code here
s = 'We can learn data science through campusx mentorship program.'
word = 'campusx'

pos = 0

for i in s.split():
    pos += 1
    if i == word:
        break

print(pos)

7

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [23]:
# Code here
s = 'aaaabbbbbccccdddeeeeffff'

res = ''

for i in s:
    if i not in res:
        res = res + i

print(res)

abcdef

# Interview Questions & Answers

# Python interview questions & answers for [lecture 1](https://www.youtube.com/watch?v=1z5-O7-5AXk&t=40s), [lecture 2](https://www.youtube.com/watch?v=JCkIrdrZEE8) and [lecture 3](https://www.youtube.com/watch?v=6HAu0Y9BjA4):

| Question No. | Question |
| :--: | :-- |
| 1 | What is Python? What are the benefits of using Python? |
| 2 | What is a dynamically typed language? |
| 3 | What is an Interpreted language? |
| 4 | What is PEP 8 and why is it important? |
| 5 | What are the common built-in data types in Python? |
| 6 | Explain the ternary operator in Python. |
| 7 | What Does the ‘is’ Operator Do? |
| 8 | Disadvantages of Python. |
| 9 | How strings are stored in Python? |
| 10 | What is Zen of Python? |
| 11 | Identity operator (is) vs ==? |
| 12 | What does _ variables represent in Python? |
| 13 | Modules vs packages vs Library |
| 14 | Why 0.3 – 0.2 is not equal to 0.1 in Python? |
| 15 | Python Docstrings |

### **`1. What is Python? What are the benefits of using Python?`**

Python is a high-level, interpreted, general-purpose programming language. Being a general-purpose language, it can be used to build almost any type of application with the right tools/libraries. Additionally, python supports objects, modules, threads, exception-handling, and automatic memory management which help in modelling real-world problems and building applications to solve these problems.

**Benefits of using Python:**
- Python is a general-purpose programming language that has a simple, easy-to-learn syntax that emphasizes readability and therefore reduces the cost of program maintenance. Moreover, the language is capable of scripting, is completely open-source, and supports third-party packages encouraging modularity and code reuse.
- Its high-level data structures, combined with dynamic typing and dynamic binding, attract a huge community of developers for Rapid Application Development and deployment.

### **`2. What is a dynamically typed language?`**

Before we understand a dynamically typed language, we should learn about what typing is. **Typing** refers to type-checking in programming languages. In a **strongly-typed** language, such as Python, **"1" + 2** will result in a type error since these languages don't allow for "type-coercion" (implicit conversion of data types). On the other hand, a **weakly-typed** language, such as Javascript, will simply output **"12"** as result.

Type-checking can be done at two stages:
- **Static -** Data Types are checked before execution.
- **Dynamic -** Data Types are checked during execution.
Python is an interpreted language, executes each statement line by line and thus type-checking is done on the fly, during execution. Hence, Python is a Dynamically Typed Language.

Read more - https://www.techtarget.com/whatis/definition/strongly-typed#:~:text=In%20computer%20programming%2C%20a%20programming,
types%20of%20objects%20and%20variables.

### **`3. What is an Interpreted language?`**

An Interpreted language executes its statements line by line. Languages such as Python, Javascript, R, PHP, and Ruby are prime examples of Interpreted languages. Programs written in an interpreted language runs directly from the source code, with no intermediary compilation step.

### **`4. What is PEP 8 and why is it important?`**

PEP stands for **Python Enhancement Proposal**. A PEP is an official design document providing information to the Python community, or describing a new feature for Python or its processes. **PEP 8** is especially important since it documents the style guidelines for Python Code. Apparently contributing to the Python open-source community requires you to follow these style guidelines sincerely and strictly.

Read more - https://realpython.com/python-pep8/#:~:text=PEP%208%2C%20sometimes%20spelled%20PEP8,
and%20consistency%20of%20Python%20code.

### **`5. What are the common built-in data types in Python?`**

There are several built-in data types in Python. Although, Python doesn't require data types to be defined explicitly during variable declarations type errors are likely to occur if the knowledge of data types and their compatibility with each other are neglected. Python provides `type()` and `isinstance()` functions to check the type of these variables. These data types can be grouped into the following categories-

1. **None Type:** **None** keywork represents the null values in Python. Boolean equality operation can be performed using these NoneType objects.

2. **Numeric Type:** There are three distinct numeric types - `integers`, `floating-point numbers` and `complex numbers`. Additionally, `booleans` are a sub-type of integers.

3. **Sequence Types:** According to Python Docs, there are three basic Sequence Types - `lists`, `tuples`, and `range` objects. Sequence types have the `in` and `not in` operators defined for their traversing their elements. These operators share the same priority as the comparison operations.

4. **Mapping Types:** A mapping object can map hashable values to random objects in Python. Mappings objects are mutable and there is currently only one standard mapping type, the `dictionary`.

5. **Set Types:** Currently, Python has two built-in set types - `set` and `frozenset`. `set` type is mutable and supports methods like *add()* and *remove()*. `frozenset` type is immutable and can't be modified after creation.

6. **Callable Types:** Callable types are the types to which function call can be applied. They can be **user-defined functions, instance methods, generator functions**, and some other **built-in functions, methods** and **classes**.
Refer to the documentation at [docs.python.org](https://docs.python.org/3/reference/datamodel.html) for a detailed view of the callable types.

### `Q.6. Operator Precedence.`
https://www.programiz.com/python-programming/precedence-associativity

### `Q.7. Explain the ternary operator in Python.`

Unlike C++, we don’t have ?: in Python, but we have this:


> [on true] if [expression] else [on false]



If the expression is True, the statement under [on true] is executed. Else, that under [on false] is executed.

Below is how you would use it:


```
a,b=2,3
min=a if a<b else b
print(min)
```

Above will print 2.

In [1]:
# Run this cell to see result.
a,b=14,12
print("Hi") if a<b else print("Bye")

Bye

### `Q 8. What Does the ‘is’ Operator Do?`

Identity operators<br>
In Python, is and is not are used to check if two values are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

In [2]:
a = 1
id(a)

2893354828016

In [3]:
a = 2
id(a)

2893354828048

In [4]:
a = 1
b = 1

a is b

True

In [5]:
id(a)

2893354828016

In [7]:
id(b)

2893354828016

In [8]:
a = 257
b = 257

a is b

False

In [9]:
id(a)

2893435203952

In [10]:
a == b

True

In [11]:
id(b)

2893435205488

In [12]:
# -5 to 256

a = -14
b = -14

a is b

False

### `Q 9: Disadvantages of Python.`

https://www.geeksforgeeks.org/disadvantages-of-python

### `Q10 How strings are stored in Python?`
- https://stackoverflow.com/questions/19224059/how-strings-are-stored-in-python-memory-model
- https://www.quora.com/How-are-strings-stored-internally-in-Python-3
- https://betterprogramming.pub/an-interviewers-favorite-question-how-are-python-strings-stored-in-internal-memory-ac0eaef9d9c2

### `Q10 What is Zen of Python?`

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.
https://en.wikipedia.org/wiki/Zen_of_Python

* Beautiful is better than ugly.
* Explicit is better than implicit.
* Simple is better than complex.
* Complex is better than complicated.
* Flat is better than nested.
* Sparse is better than dense.
* Readability counts.
* Special cases aren't special enough to break the rules.
* Although practicality beats purity.
* Errors should never pass silently.
* Unless explicitly silenced.
* In the face of ambiguity, refuse the temptation to guess.
* There should be one-- and preferably only one --obvious way to do it.
* Although that way may not be obvious at first unless you're Dutch.
* Now is better than never.
* Although never is often better than *right* now.
* If the implementation is hard to explain, it's a bad idea.
* If the implementation is easy to explain, it may be a good idea.
* Namespaces are one honking great idea -- let's do more of those!

Explained in detail here - https://inventwithpython.com/blog/2018/08/17/the-zen-of-python-explained/

### `Q11 Identity operator (is) vs ==?`

->> Here’s the main difference between python “==” vs “is:”

Identity operators: The “is” and “is not” keywords are called identity operators that compare objects based on their identity.
Equality operator: The “==” and “!=” are called equality operators that compare the objects based on their values.

In [13]:
# Case 4:
# Here variable s is assigned a list,
# and q assigned a list values same as s but on slicing of list a new list is generated
s=[1,2,3]
p=s
# cloning
q=s[:]
print("id of p", id(p))
print("Id of s", id(s))
print("id of q", id(q))
print("Comapare- s == q", s==q)
print("Identity- s is q", s is q)
print("Identity- s is p", s is p)
print("Comapare- s == p", s==p)

id of p 2893436102336
Id of s 2893436102336
id of q 2893436102848
Comapare- s == q True
Identity- s is q False
Identity- s is p True
Comapare- s == p True

In [14]:
a = [1,2,3]
b = a[:]

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

### `Q12 What does _ variables represent in Python?`

[GssksForGeeks Article](https://www.geeksforgeeks.org/underscore-_-python)

Underscore _ is considered as "I don't Care" or "Throwaway" variable in Python


* The underscore _ is used for ignoring the specific values. If you don’t need the specific values or the values are not used, just assign the values to underscore.

** Ignore a value when unpacking

** Ignore the index

In [15]:
# Ignore a value when unpacking
x, _, y = (1, 2, 3)

print("x-",x)
print("y-", y)

x- 1
y- 3

In [16]:
#Ignore the index

# Say we want to print hello 5 times, we don't need index value

for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello

### `Q13 Modules vs packages vs Library`

Python uses some terms that you may not be familiar with if you’re coming from a different language. Among these are modules, packages, and libraries.

* A **module** is a Python file that’s intended to be imported into scripts or other modules. It often defines members like classes, functions, and variables intended to be used in other files that import it.

* A **package** is a collection of related modules that work together to provide certain functionality. These modules are contained within a folder and can be imported just like any other modules. This folder will often contain a special `__init__` file that tells Python it’s a package, potentially containing more modules nested within subfolders

* A **library** is an umbrella term that loosely means “a bundle of code.” These can have tens or even hundreds of individual modules that can provide a wide range of functionality. Matplotlib is a plotting library. The Python Standard Library contains hundreds of modules for performing common tasks, like sending emails or reading JSON data. What’s special about the Standard Library is that it comes bundled with your installation of Python, so you can use its modules without having to download them from anywhere.

These are not strict definitions. Many people feel these terms are somewhat open to interpretation. Script and module are terms that you may hear used interchangeably.

https://stackoverflow.com/questions/19198166/whats-the-difference-between-a-module-and-a-library-in-python

https://www.geeksforgeeks.org/what-is-the-difference-between-pythons-module-package-and-library/

### `Q14 Why 0.3 – 0.2 is not equal to 0.1 in Python?`

The reason behind it is called “*precision*”, and it’s due to the fact that computers do not compute in Decimal, but in Binary. Computers do not use a base 10 system, they use a base 2 system (also called Binary code).

https://www.geeksforgeeks.org/why-0-3-0-2-is-not-equal-to-0-1-in-python/

In [17]:
# code
print(0.3 - 0.2)
print(0.3 - 0.2 == 0.1)

0.09999999999999998
False

### `Q 15 - Python Docstrings`

https://www.geeksforgeeks.org/python-docstrings

In [18]:
print('hello')

hello

In [19]:
type(3)

int

In [20]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

In [21]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [22]:
s = 'have'
print(id(s))
s = s.capitalize()
print(id(s))

2893436113584
2893429436464

In [23]:
a,b = print('hello'),print('world')

hello
world

In [24]:
for i in range(1, 5):
    i = 3
    print(i, end=' ')

3 3 3 3