# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [1]:
# empty

t1 = ()
print(t1)

()

In [2]:
t2 = (2)
print(t2)
print(type(t2))

2
<class 'int'>

In [3]:
t3 = ('hello')
print(t3)
print(type(t3))

hello
<class 'str'>

In [4]:
# create a tuple with a single item

t4 = (2,)
print(t4)
print(type(t4))

(2,)
<class 'tuple'>

In [5]:
# create a tuple with a single item

t5 = ('hello',)
print(t5)
print(type(t5))

('hello',)
<class 'tuple'>

In [6]:
t6 = (1,2,3,4)
print(t6)

(1, 2, 3, 4)

In [7]:
# hetro

t6 = (1,2.3,True,[1,2,3])
print(t6)
print(type(t6))

(1, 2.3, True, [1, 2, 3])
<class 'tuple'>

In [8]:
# tuple

t7 = (1,2,3,4,(5,6))
print(t7)

(1, 2, 3, 4, (5, 6))

In [9]:
# using type conversion

t8 = tuple('Hello')
print(t8)

('H', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [10]:
print(t7[4])

(5, 6)

In [11]:
print(t7[-1][0])

5

In [12]:
t7[0] = 12

TypeError: 'tuple' object does not support item assignment

### Editing items

In [13]:
print(t3)
t3[0] = 100
# immutable just like strings

hello

TypeError: 'str' object does not support item assignment

### Adding items

In [14]:
print(t3)

hello

### Deleting items

In [15]:
print(t7)
del(t7)
print(t7)

(1, 2, 3, 4, (5, 6))

NameError: name 't7' is not defined

In [16]:
print(t5)
del t5[-1]

('hello',)

TypeError: 'tuple' object doesn't support item deletion

In [17]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [18]:
t9 = (1,2,3,4,5,6,7)
print(t9[-1:-5:-1])

(7, 6, 5, 4)

In [19]:
print(t9*3)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [20]:
7 in t9

True

In [21]:
9 not in  t9

True

In [22]:
for i in t9:
    print(i)

1
2
3
4
5
6
7

In [23]:
print(sum(t9))
print(t9)

28
(1, 2, 3, 4, 5, 6, 7)

### Tuple Functions

In [24]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [25]:
print(min(t9))
print(max(t9))
print(sorted(t9,reverse = True))

1
7
[7, 6, 5, 4, 3, 2, 1]

In [26]:
# count

t9.count(7)

1

In [27]:
# index

t9.index(7)

6

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [29]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
    i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
    i*5
print('Tuple time',time.time()-start)

List time 8.593220949172974
Tuple time 6.00464129447937

In [30]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [31]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [32]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [33]:
# Tuple unpacking

a,b,c = 1,2,3

In [34]:
print(a)
print(b)
print(c)

1
2
3

In [35]:
a = 1
b = 2
a,b = b,a

In [36]:
print(a)
print(b)

2
1

In [37]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9]

In [38]:
# zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)
print(tuple(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))

# TASK

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [12]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
    unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
    result.append([i])
    for j in test_list:
        if j[0] == i:
            result[-1].append(j[1])

print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [13]:
# write your code here
t = (1, 5, 7, 8, 10)

L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
    L.append(t[i]*t[i-1] + t[i]*t[i+1])

L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [14]:
# write your code here
t1 = (1,2,3,0)
t2 = (1,2,3,0)

flag = True
for i,j in zip(t1,t2):
    if i == j:
        continue
    else:
        flag = False
        break
if flag:
    print('same')
else:
    print('not same')

same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [15]:
# write your code here
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]

for i in L:
    if type(i) == list:
        output[0] = output[0] + 1
    elif type(i) == set:
        output[1] = output[1] + 1
    elif type(i) == tuple:
        output[2] = output[2] + 1
    else:
        pass

print('Lists-{}\nSets-{}\nTuples-{}'.format(output[0],output[1],output[2]))

Lists-2
Sets-2
Tuples-1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [17]:
# write your code here
students = []

num = int(input('enter the number of applicants'))

for i in range(num):
    print('Enter details of',i+1,'applicant:')
    name = input('enter name')
    h_ed = input('enter higher education')
    p_skill = input('enter primary skill')
    yog = input('enter year of graduation')

    students.append((name,h_ed,p_skill,yog))

required_skill = input('enter required skill')
required_hed = input('enter required higher education')
required_yog = input('enter required year of graduation')

flag = False
for i in students:
    if i[1] == required_hed and i[2] == required_skill and i[3] == required_yog:
        print(i)
        flag = True

if flag == False:
    print('No such candidates')

enter the number of applicants2
Enter details of 1 applicant:
enter namegourab
enter higher educationb.tech
enter primary skillData Science
enter year of graduation2020
Enter details of 2 applicant:
enter namegaurav
enter higher educationb.tech
enter primary skillpython
enter year of graduation2020
enter required skillsql
enter required higher educationb.tech
enter required year of graduation2021
No such candidates

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [39]:
s= {}
print(type(s))

<class 'dict'>

### Creating Sets

In [40]:
# empty

s1= set()
print(type(s1))

<class 'set'>

In [41]:
# 1D and 2D

s2 = {1,2,3,4,5}
print(s2)

{1, 2, 3, 4, 5}

In [42]:
s3 = {1,2,3,4,5,{6,7,8}}

TypeError: unhashable type: 'set'

In [43]:
# homo and hetro

s4 = {2,(3,'hello'),True}
print(s4)

{True, 2, (3, 'hello')}

In [44]:
s5 = set([1,2,3,4])
print(s5)
print(type(s5))

{1, 2, 3, 4}
<class 'set'>

In [45]:
s6 = {1,2,2,3,3,3,4,4,4,5,5,6,7,7,8,8,9,9,9,0,0,0,}
print(s6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
s7 = {1,2,[3,4]}
print(s7)

TypeError: unhashable type: 'list'

In [47]:
# using type conversion

s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [48]:
# duplicates not allowed

s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [49]:
# set can't have mutable items

s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [50]:
s8 = {1,2,3,4,5,6,7}
s9 = {3,4,6,1,7,2,5}
print(s8==s9)

True

### Accessing Items

In [51]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

### Editing Items

In [52]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [53]:
# add

s9 = {1,2,3,4}
s9.add(5)
print(s9)

{1, 2, 3, 4, 5}

In [54]:
# update

s10 = {1, 2, 3, 4, 5}
s10.update([6,7,8,9])
print(s10)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Deleting Items

In [55]:
# del

s11 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s11)
del(s11)
print(s11)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

NameError: name 's11' is not defined

In [56]:
# discard

s12 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s12.discard(3)  # Discard will not through an error even number not exist but remove will.
print(s12)

{1, 2, 4, 5, 6, 7, 8, 9}

In [57]:
s13 = {1, 2, 4, 5, 6, 7, 8, 9}

print(s13.discard(89))

# remove
print(s13.remove(89))

None

KeyError: 89

In [58]:
# pop

s13 = {1, 2, 4, 5, 6, 7, 8, 9}
s13.pop()

1

In [59]:
# clear

s13.clear()
print(s13)

set()

### Set Operation

In [60]:
# Union (|)

s14 = {1,2,3,4,5,6}
s15 = {5,6,7,8,9,10}

s14|s15

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [61]:
# Intersections (&)

s16 = {1,2,3,4,5,6}
s17 = {5,6,7,8,9,10}

s16 & s17

{5, 6}

In [62]:
# Difference(-)
s18 = {1,2,3,4,5,6}
s19 = {5,6,7,8,9,10}
print(s18-s19)
print(s19-s18)

{1, 2, 3, 4}
{8, 9, 10, 7}

In [63]:
# Symmetric diff (^)   # print all items except common
s20 = {1,2,3,4,5,6}
s21 = {5,6,7,8,9,10}
s20^s21

{1, 2, 3, 4, 7, 8, 9, 10}

In [64]:
# Membership Test

1 in s20

True

In [65]:
3 not in s21

True

In [66]:
# Iteration

for i in s21:
    print(i)

5
6
7
8
9
10

### Set Functions

In [67]:
# len/sum/min/max/sorted

s22 = {3,4,5,1,2,7,6,9,8}
print(len(s22))
print(sum(s22))
print(min(s22))
print(max(s22))
print(sorted(s22, reverse = True))

9
45
1
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
# union/update

s23 = {1,2,3,4,5,6}
s24 = {4,5,6,7,8,9}

# s23 | s24
print(s23|s24)
print(s23.union(s24))

s23.update(s24)
print(s23)
print(s24)
s24.update(s23)
print(s23)
print(s24)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# intersection/intersection_update

s25 = {1,2,3,4,5,6}
s26 = {4,5,6,7,8,9}


s25.intersection(s26)

s25.intersection_update(s26)
print(s25)
print(s26)

In [69]:
# difference/difference_update


s27 = {1,2,3,4,5,6}
s28 = {4,5,6,7,8,9}


s27.difference(s28)

s27.difference_update(s28)
print(s27)
print(s28)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [70]:
# symmetric_difference/symmetric_difference_update


s29 = {1,2,3,4,5,6}
s30 = {4,5,6,7,8,9}


s29.symmetric_difference(s30)

s29.symmetric_difference_update(s30)
print(s29)
print(s30)

{1, 2, 3, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [71]:
# isdisjoint/issubset/issuperset

s30 = {1,2,3,4}
s31 = {3,4,5,6}

# isdisjoint means in between two sets their should not be any common item.
s30.isdisjoint(s31)

False

In [72]:
s32 = {1,2,3,4,5,6}
s33 = {4,5,6}

print(s32.issubset(s33))
print(s33.issubset(s32))

False
True

In [73]:
s34 = {1,2,3,4,5,6}
s35 = {4,5,6}


print(s34.issuperset(s35))
print(s35.issuperset(s34))

True
False

In [74]:
# copy

s36 = {1,2,3,4,5,6,7,8,9}
s37 = s36.copy()


print(s36)
print(id(s36))
print(s37)
print(id(s37))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
1735685782688
{1, 2, 3, 4, 5, 6, 7, 8, 9}
1735685781568

### Frozenset
Frozen set is just an immutable version of a Python set object

In [76]:
# create frozenset

fs1 = frozenset({1,2,3,4})
fs1

frozenset({1, 2, 3, 4})

In [77]:
fs2 = frozenset({1,2,3,4})
fs3 = frozenset({5,6,7,8})
fs2|fs3

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [78]:
# When to use
# 2D sets

fs4 = frozenset([1,2,3,4,frozenset([5,6])])
fs4

frozenset({1, 2, 3, 4, frozenset({5, 6})})

### Set Comprehension

In [79]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# TASK

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [7]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

result = list((s1 & s2) & s3)
print(result)

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [8]:
# write your code here
vowels = set('aeiouAEIOU')

s = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

print('No of unique vowels-',len(s & vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [9]:
# write your code here
s = "010101010103"

if len(set(s)) == 2:
    print('binary')
else:
    print('not binary')

not binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [10]:
# write your code here
L = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in L:
    s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [11]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[item for item in lst1 if item in lst2]

[4, 5, 9, 10]

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [80]:
# empty dictionary

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [81]:
# 1D dictionary

d1 = {"Name": "Gourab", "Gender": "Male"}
print(d1)

{'Name': 'Gourab', 'Gender': 'Male'}

In [82]:
# with mixed keys

d2 = {(1,2,3,4):1, "Hello":"World"}
print(d2)

{(1, 2, 3, 4): 1, 'Hello': 'World'}

In [83]:
print(d2[1,2,3,4])
print(d2[1,2,3])

1

KeyError: (1, 2, 3)

In [84]:
# 2D dictionary -> JSON


d3 ={
    "name":"Gourab",
    "college":"GZSCCET",
    "university": "MRSPTU",
    "course":"B.tech",
    "Branch": "Mechenical",
    "subjects":{"som":35,
               "tom":45,
               "fm":54}
}

d3

{'name': 'Gourab',
 'college': 'GZSCCET',
 'university': 'MRSPTU',
 'course': 'B.tech',
 'Branch': 'Mechenical',
 'subjects': {'som': 35, 'tom': 45, 'fm': 54}}

In [85]:
# using sequence and dict function

d4 = dict([(1,1),(2,4),(3,9)])
d4

{1: 1, 2: 4, 3: 9}

In [86]:
# duplicate keys

d5 = {'name':"Gourab kumar","name":"Singh Rajput"}
d5

{'name': 'Singh Rajput'}

In [87]:
# mutable items as keys

#d6 = {'name':"Gourab kumar",[1,2,3,4]:2}  #TypeError: unhashable type: 'list'
d6 = {'name':"Gourab kumar",(1,2,3,4):2}
d6

{'name': 'Gourab kumar', (1, 2, 3, 4): 2}

### Accessing items

In [88]:
# []

d6['name']

'Gourab kumar'

In [89]:
# get

d3.get('course')

'B.tech'

In [90]:
### Adding key-value pair

d6['gender'] = "male"

In [91]:
d6

{'name': 'Gourab kumar', (1, 2, 3, 4): 2, 'gender': 'male'}

### Remove key-value pair

In [92]:
# pop

d4.pop(2)
d4

{1: 1, 3: 9}

In [93]:
# popitem

d4.popitem()
d4

{1: 1}

In [94]:
# del

del d6 [1,2,3,4]
d6

{'name': 'Gourab kumar', 'gender': 'male'}

In [95]:
# clear

d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d.clear()
print(d)

{}

In [96]:
del s['subjects']['maths']
s

KeyError: 'subjects'

In [97]:
d3['subjects']['fm']

54

### Editing key-value pair

In [98]:
d3['subjects']['som'] = 47
d3['subjects']['som']

47

### Dictionary Operations

- Membership
- Iteration

In [99]:
print('Gourab' in d3)
print('name' in d3)

False
True

In [100]:
for i in d3:
    print(i,d3[i])

name Gourab
college GZSCCET
university MRSPTU
course B.tech
Branch Mechenical
subjects {'som': 47, 'tom': 45, 'fm': 54}

### Dictionary Functions

In [101]:
print('(1)',d3)

# len/sorted

print((f'(2) {len(d3)}'))
print(f'(3) {sorted(d3,reverse =  True)}')
print(f'(4){max(d3)}')

(1) {'name': 'Gourab', 'college': 'GZSCCET', 'university': 'MRSPTU', 'course': 'B.tech', 'Branch': 'Mechenical', 'subjects': {'som': 47, 'tom': 45, 'fm': 54}}
(2) 6
(3) ['university', 'subjects', 'name', 'course', 'college', 'Branch']
(4)university

In [102]:
# items

d3.items()

dict_items([('name', 'Gourab'), ('college', 'GZSCCET'), ('university', 'MRSPTU'), ('course', 'B.tech'), ('Branch', 'Mechenical'), ('subjects', {'som': 47, 'tom': 45, 'fm': 54})])

In [103]:
# keys

d3.keys()

dict_keys(['name', 'college', 'university', 'course', 'Branch', 'subjects'])

In [104]:
# values

d3.values()

dict_values(['Gourab', 'GZSCCET', 'MRSPTU', 'B.tech', 'Mechenical', {'som': 47, 'tom': 45, 'fm': 54}])

In [105]:
# update

d7 = {1:2,2:3,3:4,4:5}
d8 = {4:16,5:25}

d7.update(d8)
print(d7)
print(d8)

{1: 2, 2: 3, 3: 4, 4: 16, 5: 25}
{4: 16, 5: 25}

### Dictionary Comprehension
![image.png]()

In [106]:
# print 1st 10 numbers and their squares


{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [107]:
# using existing dict

distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for key, value in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [108]:
# using zip

days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp = [33,36,35,34,28,29,30]
{i:j for (i,j) in zip(days,temp)}

{'Sunday': 33,
 'Monday': 36,
 'Tuesday': 35,
 'Wednesday': 34,
 'Thursday': 28,
 'Friday': 29,
 'Saturday': 30}

In [109]:
# using if condition

products  = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [110]:
# Nested Comprehension
# print tables of number from 2 to 4

{i:{j:i*j for j in range (1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

# TASK

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [1]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_val = 0
max_key = ''
for i in test_dict:
    if max_val < len(set(test_dict[i])):
        max_val = len(set(test_dict[i]))
        max_key = i

print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [3]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res = []
for i in test_str.split():
    if i in repl_dict:
        res.append(repl_dict[i])
    else:
        res.append(i)

print(" ".join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [4]:
# write your code here
test_list = ["CampusX", 10]
key_list = ["name", "id"]

n = len(test_list)

res = []

for i in range(0,n,2):
    res.append({key_list[0]: test_list[i],key_list[1]:test_list[i+1]})

print(res)

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [5]:
# write your code here
L1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
L = [('A', 1), ('B', 2), ('C', 3)]
d = {}
for i,j in L:
    d[i] = [j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [6]:
# write your code here

d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

res = {}

for i in sorted(d):
    res[i] = sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}